<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>推荐内容tab切换</title>
    <!-- Bootstrap -->
    <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- 导入自己css -->
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="tab_recommendation">
        <!-- Nav tabs -->
        <ul class="nav wjs_tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">特别推荐</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">微投资</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">微投资</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">微投资</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">微投资</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- 标签1的内容 -->
            <div role="tabpanel" class="tab-pane active" id="home">
                <!-- 用栅格系统布局 -->
                <div class="container-fulid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="#" class="wjs_coupon  wjs_icon wjs_E915">
                                <div class="coupon_right">
                                    <p>8%</p>
                                    <p>年利率</p>
                                </div>
                                <div class="coupon_left">
                                    <h3>新手体验标1002期</h3>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="#" class="wjs_coupon">
                                <div class="coupon_right">
                                    <p>8%</p>
                                    <p>年利率</p>
                                </div>
                                <div class="coupon_left">
                                    <h3>新手体验标1003期</h3>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="#" class="wjs_coupon">
                                <div class="coupon_right">
                                    <p>8%</p>
                                    <p>年利率</p>
                                </div>
                                <div class="coupon_left">
                                    <h3>新手体验标1004期</h3>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="#" class="wjs_coupon">
                                <div class="coupon_right">
                                    <p>8%</p>
                                    <p>年利率</p>
                                </div>
                                <div class="coupon_left">
                                    <h3>新手体验标1005期</h3>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="#" class="wjs_coupon">
                                <div class="coupon_right">
                                    <p>8%</p>
                                    <p>年利率</p>
                                </div>
                                <div class="coupon_left">
                                    <h3>新手体验标1006期</h3>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="#" class="wjs_coupon">
                                <div class="coupon_right">
                                    <p>8%</p>
                                    <p>年利率</p>
                                </div>
                                <div class="coupon_left">
                                    <h3>新手体验标1007期</h3>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>起投金额</p>
                                        <p>10W</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">2</div>
            <div role="tabpanel" class="tab-pane" id="messages">3</div>
            <div role="tabpanel" class="tab-pane" id="settings">4</div>
            <div role="tabpanel" class="tab-pane" id="settings">5</div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../lib/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../lib/js/bootstrap.min.js"></script>
</body>

</html>