<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>02.wjs_copy顶部通栏</title>
    <!-- Bootstrap -->
    <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- 导入自己css -->
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 hidden-xs hidden-sm hidden-md">
                    <a href="#"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>手机微金所<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                    <img src="../images/code.jpg" alt="">
                </div>
                <div class="col-md-5 hidden-xs hidden-sm hidden-md">
                    <a href="#"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>4006-89-4006（服务时间：9:00-21:00)</a></div>
                <div class="col-md-2 hidden-xs hidden-sm hidden-md"><a href="#">常见问题</a><a href="#">财富登录</a>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md"><a href="#" class="btn btn-danger btn-xs">免费注册</a><a href="#">登录</a>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../lib/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../lib/js/bootstrap.min.js"></script>
</body>

</html>